$captionBackgroundColor: rgba(0, 0, 0, 0.5);
$captionFontFamily: sans-serif;
$captionTextColor: #cccccc;
$modalBackgroundColor:  rgba(0, 0, 0, 0.7);
$opacityEase: opacity .3s ease-in-out;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: $modalBackgroundColor;

  .modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    padding: 0;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: $opacityEase;
    -moz-transition: $opacityEase;
    -o-transition: opacityEase;
    transition: $opacityEase;
    overflow: hidden;
  
    img {
      border: 3px solid black;
    }

    .caption {
      color: $captionTextColor;
      font-family: $captionFontFamily;
      padding: 7px 14px;
      background-color: $captionBackgroundColor;
      z-index: 13;
      width: 100%;
      position: absolute;
      bottom: .5rem;
    }

  }
  
  .hide {
    opacity: 0;
  }

}
